<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
      Do you have a wallet?
    </h1>
    <h2 class="subtitle">
      You need a secure wallet to save your paintings, for this we recommend MetaMask. Your wallet will also act as your account, no password required.
    </h2>

    <a class="button is-primary is-large" href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en" target="_blank">Install MetaMask</a>
  </div>
</div>
