<div class="container has-text-centered">
  <h1 class="title">
    {{ account.nickname }}
    <span *ngIf="account.nicknameOccurrence !== 1">#{{ account.nicknameOccurrence }}</span>
  </h1>

  <h2 class="subtitle">
    {{ account.email }}
  </h2>

  <div>
    <button class="button is-primary">
      Edit account settings
    </button>
  </div>

  <div>
    <button class="button is-link" [routerLink]="['/gallery/' + web3Service.web3.eth.defaultAccount]">
      My public gallery
    </button>
  </div>

  <div>
    <button class="button is-warning" (click)="signOut()">
      Sign out
    </button>
  </div>
</div>
