<bd-domain-network></bd-domain-network>
<section class="how-it-works">
  <div class="info-boxes">
    <div class="info-box">
      <md-icon svgIcon="bad-domains:throwaway"></md-icon>
      <h3>Throwaway throwaways</h3>
      <div class="icon"></div>
      <div class="content">
        Identifying throwaway accounts at user creation helps to minimize user bloat and improve conversion.  Throwaway
        emails are used one time and then discarded.  Users who utilize throwaway email services have no intention of
        being a long-term user and could have malicious intent.
      </div>
    </div>
    <div class="info-box">
      <md-icon svgIcon="bad-domains:protect-user"></md-icon>
      <h3>Protect users</h3>
      <div class="icon"></div>
      <div class="content">
        Sites with diverse user content have a right to protect their normal users from malicious ones.  Detecting
        malware links and blocking them before they can be shared with normal users protects your brand from affilation
        and tarnishment.
      </div>
    </div>
    <div class="info-box">
      <md-icon svgIcon="bad-domains:scanner"></md-icon>
      <h3>Continuous scanning</h3>
      <div class="icon"></div>
      <div class="content">
        Throwaway hosts are continuously adding domains to their ecosystem, and malware providers appear and disappear
        instantaneously.  Our AI driven scanners continously scan for new threats and our APIs make this cutting-edge
        information available to you as soon as it is collected.
      </div>
    </div>
  </div>
</section>

<!--Our AI driven scanners are constantly scanning for new threats.  These include new domains being utilized for
    throwaway email addresses, malware hosts and more.  As new threats are discovered they are tracked and
    continuously scanned, available immediately to consumers of our APIs.  Whether you are driving a media funnel,
    hosting user content with links, or consuming links, filtering bad users and detecting threats prior to
    compromisation are key to success.  Our APIs are free for most users / bandwidth, with extremely affordable paid
    plans available to enterprises and businesses.-->
