bd-home
  margin-top top-bar-height

  .how-it-works
    h1, h3
      text-align center

    .info-boxes
      display flex
      flex-direction row
      width 100%
      height 300px
      margin-top 24px

      .info-box
        text-align center
        flex 1
        margin-left 5%
        margin-right 5%
        border-style solid 1px

        .content
          text-align left

        md-icon
          width 64px
          height 64px

    @media(max-width 900px)
      .info-boxes
        flex-direction column
        height inherit
        margin-top 0

      .info-box
        margin-top 24px
