<section class="hero is-info is-medium is-bold">
  <eg-top-bar></eg-top-bar>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Create. Browse. Trade.
      </h1>
      <h2 class="subtitle">
        Create one of a kind art that lives forever on the blockchain.
      </h2>
    </div>
  </div>
</section>

<!--<div class="box cta">
  <p class="has-text-centered">
    <span class="tag is-primary">New</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div>-->

<section class="container">
  <div class="columns features">
    <div class="column is-4">
      <div class="card">
        <div class="card-image has-text-centered">
          <i class="fa fa-diamond"></i>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <h3 class="has-text-weight-bold">Every piece of art is unique.</h3>
            <p class="is-size-6">Each pixel combination is unique and cannot be reproduced. Grab your favorite meme or color while you can!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image has-text-centered">
          <i class="fa fa-file-archive-o"></i>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <h3 class="has-text-weight-bold">Efficient storage.</h3>
            <p class="is-size-6">Image data is maximally compressed without affecting quality, minimizing your blockchain fees.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-4">
      <div class="card">
        <div class="card-image has-text-centered">
          <i class="fa fa-history"></i>
        </div>
        <div class="card-content">
          <div class="content has-text-centered">
            <h3 class="has-text-weight-bold">Blockchain history.</h3>
            <p class="is-size-6">Once an image is created it is permanently part of the blockchain.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
