@import "app.variables.styl"

app-root
  display flex
  flex-direction column
  height 100vh

body, html
  margin 0
  padding 0
  min-width min-width

body, html, .font-body
  font-family "Ubuntu"
  font-weight 300
  font-style normal

h1, .font-title
  font-family "Chivo"
  font-weight 300
  font-style normal

h2, h3, h4, .font-accent
  font-family "Roboto Slab"
  font-weight normal
  font-style normal

h1
  font-size 3em

section h1
  font-size 2em
